{% extends 'base.html' %}

{% block header %}
  <h1>{% block prompt %}Edit "{{ post['prompt'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="prompt">Essay Prompt</label>
    <textarea name="prompt" id="prompt" placeholder="This is where your writing prompt goes...">{{ request.form['prompt'] or post['prompt'] }}</textarea>
    <label for="essay">Essay Submission</label>
    <textarea name="essay" id="essay" placeholder="This is where the text to be analyzed goes...">{{ request.form['essay'] or post['essay'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}