<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <form action="{{url_for("eprompt")}}" method="POST">
        <label>Essay Prompt</label><br>
        <textarea id="eprompt" type="text" name="eprompt" value="{{eprompt}}" placeholder="Tell me how a cow jumped over the moon..."></textarea>
        <br>
        </br>
        <label>Submitted Work</label><br>
        <textarea id="essay" type="text" name="essay" value="{{essay}}" placeholder="This is due to the mice running away with the spoon..."></textarea>
        <input type="submit" id="button">
    </form>
</head>
<body>
    
</body>
</html>